body {
    padding-top: 30px;
    margin-left: 15px;
    border: 0;
    background-color: black;
    color: white;
}

/*Removes the link's change in appearence of underline and blue color and replaces with white color*/
a{
    text-decoration: none;
    color: white;
}

/*Sets the location of the nav and gives it a bottom border (visual indication that it is seperate from page body)*/
nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: solid grey 2px;
}

/*Sets up the general apperance of the unordered list in nav*/
nav ul {
    list-style-type: none;
    padding: 5px;
    margin: 0;
    background-color: black;
    font-family: impact, arial;
    text-align: right;
    font-size: 30px;
    min-width: 100%;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    margin-right: 20px;
}

.active {
    color: darkgoldenrod;
}

/*   When the user hovers the mouse over a list item link that isn't active, changes background to darkgoldenrod  */
li a:hover:not(.active) {
    background-color: darkgoldenrod;
}

/*Created img classes with CSS styling for stacking on game page - VLD*/
img {
    position: fixed;
    top: 50px;
    left: 0px; 
}
/*added animation functions for background */
@keyframes stars{
    0% {transform: translate(0px,0);}
    100% {transform: translate(-500px, 0);}
}
@keyframes mid{
    0% {transform: translate(0px,0);}
    100% {transform: translate(-2000px, 0);}
}
@keyframes fore{
    0% {transform: translate(0px,0);}
    100% {transform: translate(-2900px, 0);}
}
img.bg {
    z-index: 1;
    animation: stars 60s linear infinite;
}

img.bg2 {
    z-index: 2;
    animation: mid 25s linear infinite;
}

<<<<<<< HEAD
.bg3 {
    z-index: 3;
}

img.voy {
=======
img.bg3 {
>>>>>>> 71eff662d6fb7d67b9a289a07c5130ce258a6105
    z-index: 4;
    animation: fore 10s linear infinite;
}

img#logo {
    height:35px;
    top: 5px;
    left: 10px;
    z-index: 99;
}

.container {
    overflow: hidden;
  }
  
  .sliding-background {
    background: url("\\cs1\2021\vdaggy21\CS-301-1-InetAppDev\Voyager\CS301-Voyager\images\VoyagerBackground2.png") repeat-x;
    height: 550px;
    width: 3000px;
    animation: slide 60s linear infinite;
  }
  
  @keyframes slide{
    0%{
      transform: translate3d(0, 0, 0);
    }
    100%{
      transform: translate3d(-1692px, 0, 0);
    }
  }