#logo {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

body {
    padding-top: 20px;
    margin: 0;
    border: 0;
}
p, h1, h2, a, img {
    padding: 10px;
}
ul {
    margin: 0;
    border: 0;
    padding:0;
}
nav {
    position: fixed;
    top: 0;
    padding: 0;
    width: 100%;

}
nav ul {
    list-style-type: none;
    padding: 5px;
    background-color: black;
    font-family: impact, arial;
    text-align: left;
    font-size: 30px;
    min-width: 100%;
}

li {
    display: inline;
}

li a {
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    display: inline;
}

li a:hover:not(.active) {
    background-color: green;
}

.active {
    color: green;
}
/*Created img class with CSS styling for stacking on game page - VLD*/
img {
    position: fixed;
    top: 40px;
    left: 50px;
  }
  .bg {
    z-index: 1;
  }
  .bg2 {
    z-index: 2;
  }
  .bg3 {
    z-index: 3;
  }
  .voy {
    z-index: 4;
  }